@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import '../../../../vendor/filament/filament/resources/css/theme.css';

.fi-dropdown-panel {
    max-width: 200px !important;
    width: auto !important;
}

.fi-user-menu {
    width: auto !important;
} 