.Overlay {
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Asegúrate de que el overlay esté por encima de otros elementos */
}

.Modal {
  background: white;
  padding: 20px;
  border-radius: 20px;
  width: 600px;
  height: 670px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 70%;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  z-index: 1001; /* Asegúrate de que el modal esté por encima del overlay */
}

.update-event-modal {
  display: flex;
  width: 100%;
}

.left-side, .right-side {
  flex: 1;
  padding: 20px;
}

.left-side {
  border-right: 1px solid #ccc;
}

.right-side img {
  margin-top: 20px;
}